.blog {
    display: flex;
    align-items: center;
    margin: 0 auto 12px auto;
  }

  .blog:last-child {
    margin-bottom: 0;
  }

  .img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0;
  }

  .description {
    flex: 1;
    margin-left: 18px;
    padding: 12px;
  }

  .title {
    margin: 0 0 12px 0;
    padding: 0;
  }

  .excerpt {
    margin: 0;
  }
